<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Style sheet goes here -->
        <link rel="stylesheet" href="style.css" />
        <title>My App</title>
    </head>
    <body>
        <!-- Be semantic while writing HTML -->

        <h1>My App</h1>

        <!-- Scripts goes here -->
        <script src="app.js"></script>
    </body>
</html>
